node_modules/
.DS_Store
.env
.env.local
.env.*.local
dist/
build/
*.log
.vscode/
.idea/
uploads/
*.swp
*.swo
package-lock.json
yarn.lock
.yarn/cache/
.parcel-cache/
.next/
out/
.cache/
.nuxt/
dist/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/install-state.gz
